# editorconfig.org
# install the 'EditorConfig' package for Sublime Text to use this style guide
root = true
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
